/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --font-family: "IBM Plex Mono", Monospace, Arial, sans-serif;
  --accent-color: #ff0070;
  --header-color: #db00ff;
  --title-color:#ff0070;
  --title-bg: #ff0070;
  --title_text-color: #000028;
  --color: #f1b2ce;
  --visibility: visible;
  --button-color: #ff0070;
  --button-hover: rgba(255, 0, 112, 0.4);
  --button-fv: #ff0070;
 }

 .page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/cover-image-dark.png) no-repeat center / cover;
  background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-family: "IBM Plex Mono", Monospace, Arial, sans-serif;
    --accent-color: #ff0070;
    --header-color: #db00ff;
    --title-color:#ff0070;
    --title-bg: #ff0070;
    --title_text-color: #000028;
    --color: #f1b2ce;
    --visibility: visible;
    --button-color: #ff0070;
    --button-hover: rgba(255, 0, 112, 0.4);
    --button-fv: #ff0070;
  }
} 


