/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  inline-size: 1024px;
  block-size: 100%;
  background: #fff1f7 center / cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  width: 100%;
  min-height: 768px;
  margin-bottom: 60px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.header::before {
  content: " ";
  position: absolute;
  border-right: 1px solid var(--color, #353430);
  border-top: 1px solid var(--color, #353430);
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
}

.header::after {
  content: " ";
  position: absolute;
  border-bottom: 1px solid var(--color, #353430);
  border-left: 1px solid var(--color, #353430);
  width: 25px;
  height: 25px;
  left: 20px;
  bottom: 20px;
}

.decorated-zone {
  background: url(../images/cover-image-light.png) center / cover;
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  min-width: 70px;
  min-height: 26px;
  border: 1px solid var(--color, #353430);
  padding: 1.5px 13px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--color, #353430);
  text-transform: lowercase;
  background-color: transparent;
}

.theme_auto .header__theme-menu-button_type_light {
  border: 1px solid var(--color, #353430);
}

.theme_auto .header__theme-menu-button_type_light:hover {
  border: none;
  outline: none;
}

.theme_auto .header__theme-menu-button_type_light:focus {
  border: none;
}

.theme_auto .header__theme-menu-button_type_light:focus-visible {
  border: none;
  outline: none;
}

.theme_auto .header__theme-menu-button_type_auto {
  border: none;
}

.theme_auto .header__theme-menu-button_type_auto:hover {
  border: none;
}

.theme_auto .header__theme-menu-button_type_auto:focus {
  border: none;
}

.theme_auto .header__theme-menu-button_type_auto:focus-visible {
  border: none;
  outline: none;
}

.theme_auto .header__theme-menu-button_active {
  pointer-events: none;
  border: none;
}

.theme_auto .header__theme-menu-button_type_dark {
  border: none;
}

.theme_auto .header__theme-menu-button_type_dark:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.theme_auto .header__theme-menu-button_type_dark:focus {
  border: none;
}

.theme_auto .header__theme-menu-button_type_dark:focus-visible {
  border-bottom: 1px solid var(--color, #353430);
  outline: none;
}

.header__decoration {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  right: 29px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: var(--accent-color, #ff0070);
}

.header__decoration::after {
  content: " ";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  margin-left: 10px;
}

.theme_auto .visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.header__heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  color: var(--header-color, #ffc2e6);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 20px 135px 0;
}

.header__title-item {
  width: 491px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%; 
}

.title-decor {
  background: var(--title-color, #ff8dcb);
  color: var(--color, #353430);
}

.main {
  width: 100%;
  min-height: 3352px;
  display: grid;
  grid-template-rows: 508px 498px 1015px 1091px;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
  padding-bottom: 60px;
}

.hard-concentrate {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 649px;
  grid-template-rows: 1fr 244px;
  padding: 0px 20px;
  row-gap: 20px;
}

.hard-concentrate__heading {
  grid-row: 2 span;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color, #353430);
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.text {
  padding-top: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--color, #353430);
}

.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--color, #353430);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--title-color, #ff8dcb);
}

.link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid #353430;
}

.reduced-concentration {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-template-rows: 1fr 431px;
  gap: 20px;
}

.reduced-concentration__heading {
  grid-column: span 3;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color, #353430);
}

.five-tips {
  display: grid;
  grid-template-columns: 1fr 649px;
  grid-template-rows: 23px 244px 150px 197px 151px 150px;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.five-tips__heading {
  grid-row: span 6;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color, #353430);
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--color, #353430);
}

.pictures {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  gap: 20px;
}

.pictures__heading {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--color, #353430);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-template-rows: 260px 315px 433px;
  gap: 20px;
}

.img__item {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.gallery__sunset {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__ice-cream {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__tape {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallery__books {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery__street {
  padding-top: 5px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer {
  width: 100%;
  min-height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer::before {
  content: " ";
  position: absolute;
  z-index: -1;
  border-right: 1px solid var(--color, #353430);
  border-top: 1px solid var(--color, #353430);
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
}

.footer::after {
  content: " ";
  position: absolute;
  z-index: -1;
  border-bottom: 1px solid var(--color, #353430);
  border-left: 1px solid var(--color, #353430);
  width: 25px;
  height: 25px;
  left: 20px;
  bottom: 20px;
}

.footer__heading {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  color: var(--header-color, #ffc2e6);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (768px <= width < 1024px) {
  :root {
    --accent-color: #ff8dcb;
 }

  .page {
    inline-size: 768px;
    block-size: 100%;
  }

  .header {
    width: 100%;
    min-height: 1024px;
  }
  
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    padding-top: 121px;
    gap: 10px;
  }
      
  .header__heading {
    text-shadow: 4px 4px 0 var(--accent-color, #ff8dcb);
  }
  
  .header__title {
    align-items: center;
    padding: 0 20px 144px 0;
  }
  
  .header__title-item {
    max-width: 364px;
    min-height: 117px;
  }
    
  .main {
    min-height: 3682px;
    grid-template-rows: 648px 675px 1296px 823px;
    padding-bottom: 60px;
  }
  
  .hard-concentrate {
    grid-template-columns: 1fr 472px;
    grid-template-rows: 1fr 314px;
  }
    
  .reduced-concentration {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 174px 174px 197px;
  }

  .hard-concentrate__heading {
    max-width: 236px;
  }

  .reduced-concentration__heading {
    grid-column: 1;
    max-width: 236px;
  }
   
  .five-tips {
    display: grid;
    grid-template-columns: 1fr 472px;
    grid-template-rows: 23px 314px 198px 290px 197px 175px;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 192px 230px 318px;
  }
      
  .footer {
    width: 100%;
    min-height: 1024px;
  }
    
  .footer__heading {
    text-shadow: 2px 2px 0 var(--accent-color, #ff8dcb);
  }
}