/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/cover-image-light.png) center / cover;
  background-attachment: fixed;
  inline-size: 1024px;
  block-size: 100%;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, minmax(auto, 1fr));
  width: 100%;
  height: 100vh;
  margin-bottom: 60px;
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color, #353430);
  border-right: 1px solid var(--color, #353430);
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color, #353430);
  border-left: 1px solid var(--color, #353430);
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  min-width: 70px;
  min-height: 26px;
  padding: 1.5px 13px;
  color: var(--button-color, #353430);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button_type_light {
  border: 1px solid var(--button-light, #353430);
}

.header__theme-menu-button_type_light:hover {
  border: 1px solid var(--button-light_hover);
}

.header__theme-menu-button_type_light:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button_type_light:focus-visible {
  border-bottom: 1px solid var(--button-dark);
}

.header__theme-menu-button_type_auto {
  border: none;
  outline: none;
}

.header__theme-menu-button_type_auto:hover {
  border: 1px solid var(--button-auto_hover, rgba(50, 49, 45, 0.4));
}

.header__theme-menu-button_type_auto:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button_type_auto:focus-visible {
  border-bottom: 1px solid var(--button-auto_focus, #353430);
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--button-dark);
}

.header__theme-menu-button_type_dark:hover {
  border: 1px solid var(--button-dark_hover, rgba(50, 49, 45, 0.4));
}

.header__theme-menu-button_type_dark:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button_type_dark:focus-visible {
  border-bottom: 1px solid var(--button-light, #353430);
} 

.header__decoration {
  position: absolute;
  top: 20px;
  right: 29px;
  display: flex;
  align-items: center;
  color: var(--accent-color, #ff0070);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-transform: uppercase;
  text-align: center;
}

.header__decoration::after {
  content: " ";
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.header__heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--header-color, #ffc2e6);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--logo-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 20px 135px 0;
}

.header__title-item {
  max-width: 491px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.title-decor {
  color: var(--color, #353430);
  background: var(--title-bg, #ff8dcb);
}

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  row-gap: 80px;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
}

.hard-concentrate {
  display: grid;
  grid-template-columns: 1fr 649px;
  row-gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.heading {
  max-width: 315px;
  grid-row: 2 span;
  color: var(--title-color, #353430);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.text {
  padding-top: 10px;
  color: var(--color, #353430);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.link {
  color: var(--color, #353430);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--title-bg, #ff8dcb);
}

.link:hover {
  border-bottom: 1px solid var(--color, #353430);
}

.link:focus {
  border: none;
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--color, #353430);
  outline: none;
}

.reduced-concentration {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.reduced-concentration .heading {
  grid-column: span 3;
 }

.recommendations {
  display: grid;
  grid-template-columns: 1fr 649px;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.recommendations .heading {
  grid-row: span 6;
}

.subtitle {
  color: var(--color, #353430);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.pictures {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  gap: 20px;
}

.img__item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__sunset {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__ice-cream {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__tape {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallery__books {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery__street {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-top: 5px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.footer__heading {
  color: var(--header-color, #ffc2e6);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--logo-size);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (width <= 768px) {
  :root {
    --accent-color: #ff8dcb;
 }

  .page {
    inline-size: 768px;
  }

  .header {
    min-height: 1024px;
  }
  
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 121px;
  }
      
  .header__heading {
    text-shadow: 4px 4px 0 var(--accent-color, #ff8dcb);
  }
  
  .header__title {
    align-items: center;
    padding: 0 20px 144px 0;
  }
  
  .header__title-item {
    max-width: 364px;
  }
    
  .main {
    padding-bottom: 60px;
  }
  
  .hard-concentrate {
    grid-template-columns: 1fr 472px;
  }

  .heading {
    max-width: 236px;
  }
     
  .reduced-concentration {
    grid-template-columns: 1fr;
  }

  .reduced-concentration .heading {
    grid-column: 1;
  }
   
  .recommendations {
    grid-template-columns: 1fr 472px;
  }
  
  .gallery {
    grid-template-columns: repeat(3, 230px);
  }
      
  .footer {
    min-height: 1024px;
  }
    
  .footer__heading {
    text-shadow: 2px 2px 0 var(--accent-color, #ff8dcb);
  }
}

@media (width <= 375px) {
  :root {
    --accent-color: #ff8dcb;
 }

  .page {
    inline-size: 375px;
  }

  .header {
    min-height: 668px;
    margin-bottom: 40px;
  }

  .header::before {
    top: 10px;
    right: 10px;
  }
  
  .header::after {
    bottom: 10px;
    left: 10px;
  }

  .header__theme-menu {
    padding-right: 10px;
  }

  .header__theme-menu-list {
    padding-top: 0;
  }
     
  .header__heading {
    padding-left: 10px;
    font-size: var(--mobile-size);
    text-shadow: 4px 4px 0 var(--accent-color, #ff8dcb);
  }
 
  .header__title {
    padding: 0 10px 29px 0;
  }

  .header__title-item {
    max-width: 355px;
  }
    
  .main {
    row-gap: 50px;
    padding-bottom: 40px;
  }

  .hard-concentrate {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .heading {
    max-width: 355px;
  }
    
  .reduced-concentration {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .recommendations {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .pictures {
    gap: 10px;
    padding: 0 10px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer {
    width: 100%;
    min-height: 668px;
  }
    
  .footer__heading {
    font-size: var(--mobile-size);
    text-shadow: 2px 2px 0 var(--accent-color, #ff8dcb);
  }
} 