/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", Monospace, Arial, sans-serif;
  --accent-color: #ff0070;
  --shadow-color: #ff8dcb;
  --header-color: #ffc2e6;
  --title-color:#353430;
  --title-bg: #ff8dcb;
  --title_text-color: #353430;
  --color: #353430;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --mobile-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);  
  --visibility: hidden;
  --button-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
  --button-fv: #353430;
  --background: url(../images/cover-image-light.png) no-repeat center / cover;
}


